@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Nunito+Sans:ital,opsz,wdth,wght,YTLC@0,6..12,75..125,200..1000,440..540;1,6..12,75..125,200..1000,440..540&display=swap');
@-webkit-keyframes wiggle1 {
    0% { -webkit-transform: translate(-20%, 0%); } 
    10% { -webkit-transform: translate(0%, 10%); }
    20% { -webkit-transform: translate(10%, 0%); }
    30% { -webkit-transform: translate(0%, 0%); }
    40% { -webkit-transform: translate(20%, 0%); }
    50% { -webkit-transform: translate(-10%, 0%); }
    60% { -webkit-transform: translate(0%, 0%); }
    70% { -webkit-transform: translate(0%, 0%); }
    80% { -webkit-transform: translate(0%, -20%); }
    90% { -webkit-transform: translate(30%, 0%); }
    100% { -webkit-transform: translate(0%, 0%); }
}
@-webkit-keyframes wiggle2 {
    0% { -webkit-transform: translate(10%, 0%); } 
    10% { -webkit-transform: translate(-25%, 0%); }
    20% { -webkit-transform: translate(-10%, 0%); }
    30% { -webkit-transform: translate(0%, 20%); }
    40% { -webkit-transform: translate(0%, 0%); }
    50% { -webkit-transform: translate(23%, 0%); }
    60% { -webkit-transform: translate(-9%, 10%); }
    70% { -webkit-transform: translate(12%, 0%); }
    80% { -webkit-transform: translate(0%, -10%); }
    90% { -webkit-transform: translate(0%, 0%); }
    100% { -webkit-transform: translate(0%, 0%); }
}
@-webkit-keyframes wiggle3 {
    0% { -webkit-transform: translate(-9%, 15%); } 
    10% { -webkit-transform: translate(0%, 0%); }
    20% { -webkit-transform: translate(-20%, 0%); }
    30% { -webkit-transform: translate(0%, 0%); }
    40% { -webkit-transform: translate(10%, -20%); }
    50% { -webkit-transform: translate(0%, 0%); }
    60% { -webkit-transform: translate(40%, 0%); }
    70% { -webkit-transform: translate(0%, 20%); }
    80% { -webkit-transform: translate(-30%, 0%); }
    90% { -webkit-transform: translate(0%, 0%); }
    100% { -webkit-transform: translate(0%, 0%); }
}


* {padding:0;margin:0;}

html {width:100%;height:100%;}

body { 
  width:100%;
  height:100%;
  background:#C0C0C0;
  color:#613AFF;
  font-family: "Big Shoulders", sans-serif;
  display:flex;
  align-items:center;
  justify-content:center;
  overflow:hidden;
}

header {
  display:flex;
  width:300px;
  height:60px;
  align-items:center;
  justify-content:left;
  padding: 14px;
  background-color:#3C3C3C;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
/*header::before {
  display: block;
  content: '';
  position: absolute;
  inset: 0;
  background-color: #fff;
  transition: transform 0.2s;
  transform: scaleX(0);
  transform-origin: left;
  z-index: 2;
}
*/
header:hover {
	cursor:pointer;
  background-color:#613AFF;

}
/*
header:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
*/
h1 {
  position:relative;
  font-family: "Big Shoulders", sans-serif;
  font-weight:400;
  font-size:30px;
  text-align:right;
  color:#fff;
	mix-blend-mode:normal;
  z-index: 3;
}

header:hover h1{
	mix-blend-mode:screen;
	color:#ff00ff;
	-webkit-animation: wiggle1 0.1s;
}

header:hover h1::before{
	content: "open at google map";
	position: absolute;
	top: 0px;
	left: 0px;
	color:#ffff00 ;
	mix-blend-mode:screen;
  -webkit-animation: wiggle2 0.1s;
}

header:hover h1::after{
	content: "open at google map";
	position: absolute;
	top: 0px;
	left: 0px;
	color: #00ffff;
	mix-blend-mode:screen;
  -webkit-animation: wiggle3 0.1s;
}

